
$defoult_text_color: $black;
$defoult_bg: $light-gray;
$heading-color: $purple;
img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

a{
    text-decoration: none;
}


html{
    font-size: 10px;
}

body{
    font-size:1.6rem;
    color: $defoult_text_color;
    background-color: $defoult_bg;

}

.container{
    margin: 0 auto;
    width: 950px;
    max-width: 1200px;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    color: $purple;
}
