


//MIXIN

@mixin radius($radius){

    @if($enable-radius){
        border-radius: $radius;
    }
    @else{
        border-radius: 0px;
    }

}


@mixin custumRadius($rtl,$rtr,$rbr,$rbl){
   @if(){
    border-radius: $rtl $rtr $rbr $rbl;
   }
   @else{

   }
}

@mixin styleSectino($pt,$pb,$bg){
    padding: $pt 0 $pb;
    background-color: $bg;
}

@function colorYiq($color){

    $r: red($color);
    $g: grean($color);
    $b: blue($color);

    $yiq: $r*0.299 + $g*0.27 + $b*0.114;

    @if( $yig > 129){
        @return $black;
    }
    @else{
        @return $white;
    }


}

