$header-bg:$purple;
$header-link-color: $white;
$nav-link-hover: $grean;
header{
    padding:20px 0;
    background-color: $header-bg;

    .branding{
        text-align: center;

        a{
            color: $header-link-color;
        }
    }

        nav {
            ul {
                list-style: none;
                padding-left: 0;
    
                li {
                    a {
                        display: block;
                        padding: 5px 0;
                        color: $header-link-color;
                        text-align: center;
                        text-transform: uppercase;

                        &:hover,
                        &.active{
                            color:$nav-link-hover;
                        }

                    }
                }
            }
        }
    
        }

/*
header a{
    color: $header-link-color;
}
*/


@media(min-width:768px){

    header {
            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav{
                    ul{
                        display: flex;
                        li{
                            a{
                                padding: 5px 5px;
                            }
                        }
                    }
                }
            }
        }

}


@media(min-width:992px){

    header {
            .container {
                nav{
                    ul{
                        
                        li{
                            a{
                                padding: 5px 15px;
                            }
                        }
                    }
                }
            }
        }

}


